body {
  padding-top: 5%;
  margin: 0 auto;
  width: 960px;
  /*padding-bottom: 70px;*/
}
.navbar {
  background-color: lightgray;

  margin: 0 auto;
}
#clear{
  margin-top: 2.4%;
}
.theme{
  margin-top: 2.4%;
}
.logo {
  width: 20%;
  height: auto;
}
#ack{
  width: 300px;
}
#clearBoard {
  background-color: hotpink;
  border: 3px solid hotpink;
}
#messageBox {
  margin-top: 5%;
}

footer {
  margin-top: 80%;
  padding-top: 5%;
  border-top: 2px solid lightgray;
}

/*buttons large and dark*/
.dark {
  color: white;
  background-color: darkgrey;
}

.large {
  font-size: 24px;
}
