body {
  padding-top: 5%;
  margin: 0 auto;
  width: 960px;
  padding-bottom: 70px;
}
#clear{
  margin-top: 2.4%;
}
.theme{
  margin-top: 2.4%;
}
.logo {
  width: 20%;
  height: auto;
}
#ack{
  width: 300px;
}
#clearBoard {
  background-color: hotpink;
  border: 3px solid hotpink;

}

footer {
  padding-top: 90%;
}